.road-map-wrapper {
  @media (max-width: 1024px) {
    padding: 40px 80px;
  }
  @media (max-width: 568px) {
    padding: 40px 20px;
  }
  h2 {
    font-size: 40px;
    font-family: var(--font-semiBold);
    margin-bottom: -30px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 26px;
      margin-bottom: 0;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
      padding: 30px 0;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .road-map-container {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 85px;
        flex: 0 0 60%;
        max-width: 60%;
        margin-left: 31.333333%;
        @media (max-width: 992px) {
          margin-left: 26.333333%;
        }
        @media (max-width: 600px) {
          margin-left: 14px;
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: 39px;
        }

        .road {
          .road-item {
            &::before {
              content: "";
              position: absolute;
              left: 30px;
              width: 40px;
              border-bottom: 1px solid #495170;
              margin-top: 11px;
              @media (max-width: 600px) {
                left: 22px;
                width: 9px;
                margin-top: 8px;
              }
            }
            &::after {
              content: "";
              position: absolute;
              top: 2px;
              left: 8.5px;
              width: 1px;
              border-left: 1px solid var(--road_map_border_clr);
              height: calc(100% + 30px);
            }
            .road-item-metka {
              width: 17px;
              height: 17px;
              border: 2px solid var(--road_map_border_clr);
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background-color: #1f2641;
              position: absolute;
              left: 0;
              z-index: 1;
            }
            .road-item-content {
              .road-item-title {
                font-size: 14px;
                color: var(--white);
                font-family: var(--font-bold);
                margin-bottom: 10px;

                @media (min-width: 600px) {
                  position: absolute;
                  left: -230px;
                  text-align: right;
                  width: 200px;
                }
              }
              h3 {
                font-size: 18px;
                font-family: var(--font-semiBold);
                margin-bottom: 8px;
              }
              p {
                line-height: 25px;
                font-size: 14px;
              }
              ul {
                li {
                  font-size: 14px;
                  line-height: 1.6;
                }
              }
              table {
                border-collapse: collapse;
                margin-top: 14px;
                td {
                  font-size: 14px;
                  line-height: 1.6;
                }
              }
            }
          }
        }
      }
    }
  }
}
