.service-wrapper {
  background: var(--checkout_collection_bg);
  @media (max-width: 1024px) {
    padding: 40px 80px;
  }
  @media (max-width: 568px) {
    padding: 40px 20px;
  }
  .mx {
    h2 {
      font-size: 40px;
      font-family: var(--font-semiBold);
      text-align: center;
      margin-bottom: 48px;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .service-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .service-content {
        background: var(--faq_bg_clr);
        backdrop-filter: blur(8px);
        border: 1px solid var(--service_conten_border-clr);
        border-radius: 15px;
        padding: 25px;
        transition: 0.3s ease-in-out;
        height: 210px;
        text-align: center;
        max-width: 300px;
        width: 100%;
        h4 {
          margin-top: 15px;
          font-size: 16px;
          letter-spacing: 0.9px;
        }
      }
    }
  }
}

.plan-head {
  .heading {
    h2 {
      font-size: 40px;
      font-family: var(--font-semiBold);
      text-align: center;
      margin-bottom: 24px;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
  }
  .plan-content {
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: var(--faq_bg_clr);
    backdrop-filter: blur(8px);
    .title {
      .telegram-icon {
        margin-bottom: 20px;
        svg {
          max-width: 200px;
          width: 100%;
          max-height: 60px;
          height: 100%;
        }
      }
      h2 {
        font-size: 28px;
        font-family: var(--font-regular);
        letter-spacing: 0.9px;
        text-align: center;
      }
      h4 {
        font-size: 60px;
        text-align: center;
      }
      .btn {
        margin-top: 20px;
      }
    }
  }
}
