.secondary-btn {
  background: var(--bs-color-2);
  border: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04) !important;
  color: var(--bs-light) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 100px;
  transition: all 200ms linear;
  cursor: pointer;

  &:hover {
    background: var(--bs-color-3);
  }

  svg {
    width: 16px;
    height: 16px;
  }

  span {
    margin-left: 10px;
    white-space: nowrap;
    //   font-family: var(--bs-btn-font-family);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--bs-btn-color);
    text-align: center;
  }
}

.pad {
  padding: 0 20px;
  @media (max-width: 600px) {
    padding: 0 12px;
  }
}

body {
  padding-top: 100px;

  @media (max-width: 600px) {
    padding-top: 80px;
  }
}
